a:hover {
    background-color: aqua;
}

.login_button:hover {
    background-color: inherit;
    filter: drop-shadow(0px 0px 20px aqua);
}

.login_button>img {
    width: 50px;
}

.common { /* common layout style container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_box { 
    border: 1px solid black;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px; /* rounded edges */
    text-align: center; /* Center text inside the container */
}

nav { /* Navigation bar layout */ 
    position: sticky;
    top: 10px;
    background-color: lightsteelblue;
    border: 2px solid #4CAF50;
}

nav a {
    margin: 5%;
}

nav .login_button {
    right: 0;
}


/* Add Post styling */
.post_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form element spacing */
.post_form label {
    align-self: flex-start;
    margin-bottom: 10px;
}

.post_form textarea {
    width: 100%;
    margin-bottom: 15px;
}

.post_form input[type="file"] {
    margin-bottom: 15px;
}

.post_form button {
    background-color: aqua;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.post_form button:hover {
    background-color: lightblue;
}

/* Rules for index.html */
main {
    display: block;
    align-items: center;
}

article {
    margin-bottom: 50px;
}

article > img {
    border-radius: 8px;
    max-width: 50%;
    height: auto;
}

article > p {
    max-width: 50%;
    font-family: Helvetica;
}